<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <title>Скорость клубочной фильтрации</title>
    </head>
    <body>
        <div id="app" class="wrapper">
            <section id="main">
                <div class="container">
                    <h1>СКФ: {{skf}} <br>
                        <!--Формула:{{formula}} <br> -->
                        Пол:{{sex}} <br>
                        Раса:{{rasa}} <br>
                        Креатинин:{{kr}} <br>
                        Цистатин:{{css}} <br>
                        Масса тела:{{weight}} <br>
                        Возраст:{{age}} <br>
                    </h1>

                    <div class="bordered">
                        <label><input v-model="formula" type="radio" name="formula" value="ckdepi-2009" id="ckdepi-2009"><div></div><span>Формула CKD-EPI 2009 года (на основе концентрации креатинина в сыворотке)</span></label>
                        <!--label><input v-model="formula" type="radio" name="formula" value="ckdepi-2012" id="ckdepi-2012"><div></div><span>Формула CKD-EPI 2012 года (на основе концентрации цистатина С в сыворотке)</span></label>
                        <label><input v-model="formula" type="radio" name="formula" value="ckdepi-2012-ck" id="ckdepi-2012-ck"><div></div><span>Формула CKD-EPI 2012 года (на основе концентрации креатинина и цистатина С в сыворотке)</span></label-->
                        <label><input v-model="formula" type="radio" name="formula" value="mdrd" id="mdrd"><div></div><span>Формула MDRD</span></label>
                        <label><input v-model="formula" type="radio" name="formula" value="kokrofta-golta" id="kokrofta-golta"><div></div><span>Формула Кокрофта-Голта</span></label>
                    </div>
                    <div class="params" v-if="formula">
                        <div class="bordered">
                            <label><input v-model="sex" type="radio" name="sex" value="woman" id="woman"><div></div><span>Женский</span></label>
                            <label><input v-model="sex" type="radio" name="sex" value="man" id="man"><div></div><span>Мужской</span></label>
                        </div>

                        <div class="bordered" v-if="formula!='kokrofta-golta' && formula!='ckdepi-2012'">
                            <label><input v-model="rasa" type="radio" name="rasa" value="negro" id="negro"><div></div><span>Негроидная раса</span></label>
                            <label><input v-model="rasa" type="radio" name="rasa" value="evro" id="evro"><div></div><span>Европеоидная раса</span></label>
                        </div>
                        
                        <div class="bordered" v-if="formula!='ckdepi-2012'">
                            <p>Концентрация креатинина в сыворотке (Кр), мг/дл</p>
                            <input v-model="kr" type="text"/>
                        </div>
                    
                        <div class="bordered"  v-if="formula=='ckdepi-2012' || formula=='ckdepi-2012-ck'">
                            <p>Концентрация цистатина С  в сыворотке (ЦсС), мг/л</p>
                            <input v-model="css" type="text"/>
                        </div>

                        <div class="bordered" v-if="formula=='kokrofta-golta'">
                            <p>Масса тела, кг</p>
                            <input v-model="weight" type="text"/>
                        </div>

                        <div class="bordered">
                            <p>Возраст</p>
                            <input v-model="age" type="text"/>
                        </div>
                    </div>
                </div>    
            </section>
        </div>
    </body>
</html>